h1{
    color: aqua;
}

pre  {
    text-indent: 4em;
}

a {
    color: red;
    text-decoration:none ;
}
a:link{
    color: pink;
}
a:visited{
    color: #ff0;
}
a:hover {
    color: #00f;
}
a:active{
    color: #0f0;;
}
#pink{
    background: pink;
}
.red{
    color: #fb0;
}
.bg-red{
    background: #f00;
}